<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>StoreName</title>
</head>
<body>
    <img src="assets/svg/animoeats-logo.svg" alt="logo" class="logo">
    <div class="sidebar"></div>

    <div class="store-container">
        <div class="left"></div>
        <div class="center"></div>
        <div class="right"></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script type="module">
        $(document).ready(function(){
            $(".sidebar").load("/side-bar");
            $(".store-container .left").load('/resto-card');
            for (let i = 0; i < 5; i++){
                $('.store-container .right').append($('<div class="rev-con '+ (i+1) +'"></div>').load('/review-card'));
            }
        });
    </script>
</body>
</html>